langchain-mcp-adapters
langchain-google-genai
langchain-huggingface
langchain-huggingface
sentence-transformers
langchain-chroma
google-genai
langchain==0.3.27
langgraph
langgraph-cli[inmem]
pydantic
fastmcp
fastapi
wikipedia-api
httpx
mcp
uv
pandas
beautifulsoup4
lxml